{% extends "base.html" %}
{% block header %}
Оплатить
{% endblock %}
{% block content %}

<a href="{{url_for('pay', action='submit')}}"><input type=button class="btn btn-default btn-sm" value="Оплатить W1 (UAH)"></a>

{% if form_action %}
<br><br>
<form target="hidden_iframe" id="payment" name="payment" method="{{form_method}}" action="{{form_action}}" enctype="utf-8" hidden>	

	{% for k, v in form_data.items() %}
		<input type="hidden" name="{{k}}" value="{{v}}" />
	{% endfor %}

    <input type="submit" value="Pay">
</form>

<br>
<br>
<iframe name="hidden_iframe" width="1200" height="800" src="" ></iframe>

{% endif %}

<script type="text/javascript">
$(document).ready(function() {
	$("#payment").submit()
})
</script>

{% endblock %}